mixin opts(opts, placeholder, selected)
	if placeholder
		option(value="") #{placeholder}

	each opt in opts
		option(value="#{opt}", selected=(opt === selected)) #{opt}


select(class="form-control")
	mixin opts(params.opts, params.placeholder, params.selected)
