form.form

	if _(fields).contains('project')
		.col-md-3
			.form-group
				.project

	if _(fields).contains('version')
		.col-md-3
			.form-group
				.version

	if _(fields).contains('assignee')
		.col-md-3
			.form-group
				.assignee

	if _(fields).contains('status')
		.col-md-3
			.form-group
				.status
