
.header
	.header__left
		.current-timer-info
			.current-timer-info__part
				.link(href="javascript:void(0)") #123
			.current-timer-info__part
				include ../ctrls/timer
	.header__right
		.link(href="javascript:void(0)")
			| #{currentUser.login} 
			span#logout-link logout

	.navi
		a(href="/tasks") Tasks
		span &nbsp
		a(href="/users") Users

.main-layout
