.container-fluid
	.row
		nav.navbar.navbar-default.navbar-static-top
			.container-fluid
				.navbar-header
					a.navbar-brand(href="/", data-action="navigate") nevermind
				ul.nav.navbar-nav
					li
						a(href="/tasks", data-action="navigate") Tasks
					li
						a(href="/users", data-action="navigate") Users

				.navbar-text.navbar-right
					a(href="javascript:void(0)")
						span #{currentUser.login} 
						span#logout-link logout

				.navbar-text.navbar-right
					.current-timer-info
						.current-timer-info__part
							a(href="javascript:void(0)") #123
						.current-timer-info__part
							include ../ctrls/timer

				button.navbar-btn.navbar-right.btn.btn-primary#task-add Create task
	.row
		.main-layout
