
.row(style="margin-top: 5em;")
	.col-md-4.col-md-offset-4
		.form
			label.form-label Please enter login and password
			.form-group
				input#login(type="text", placeholder="Login").form-control
			.form-group
				input#password(type="password", placeholder="Password").form-control
			div.errors.text-danger
			.form-group
				button#login-button.btn.btn-primary.form-control(type="button") Login
