form.pure-form

	select#filter-project.task-filters

	select#filter-version.task-filters

	select#filter-assignee.task-filters
		option(value="") Any assignee

	select#filter-status.task-filters
		option(value="") Any status
		option undone
		option waiting
		option in progress
		option done
