
if task.id
	div ##{task.id}
div
	input#title(type="text", value=task.title, style="width: 80%;")
div
	#params
div
	textarea#description(style="width: 80%; height: 200px;") #{task.description}
div
	button#save Save
