include ../ctrls/opts

if task.id
	div #{task.id}

input#title(type="text", value=task.title || '', style="width: 100%;")
select#assignee
	mixin opts(users, "choose assegnee", task.assignee)

div
	button#save save
