.header
	.header__left
		.current-timer-info
			.current-timer-info__part
				.link(href="javascript:void(0)") #123
			.current-timer-info__part
				include ../ctrls/timer
	.header__right
		.link(href="javascript:void(0)") Иван Иванов
.main-layout
	.main-layout__sidebar
		.main-layout__sidebar__filters-l
			include filters

		include itemsList
	.main-layout__content
		#task-full
