.timer
	.timer__time 00:15
	.timer__content
		.timer__controls
			a.timer__controls__item.timer__controls__item_start(title="start")
			a.timer__controls__item.timer__controls__item_stop(title="stop")